<div class="modal-overlay">
  <div class="modal-container">
    <button class="close-button" (click)="closeDialog()">✕</button>
    <h2 class="modal-title">Editar Meta de Ahorro</h2>
    <form [formGroup]="form" class="modal-form">
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre de la meta</label>
        <input id="nombre" formControlName="nombre" placeholder="Ingrese el nombre de la meta" class="form-input" [disabled]="!isEditable" />
      </div>
      <div class="form-group">
        <label for="objetivo" class="form-label">Monto del objetivo</label>
        <input id="objetivo" formControlName="monto_objetivo" type="number" placeholder="$0.00" class="form-input" [disabled]="!isEditable" />
      </div>
      <div class="form-group">
        <label for="inicial" class="form-label">Monto actual</label>
        <input id="inicial" formControlName="monto_actual" type="number" placeholder="$0.00" class="form-input" [disabled]="true" />
      </div>
      <div class="form-group">
        <label for="fecha_finalizacion" class="form-label">Fecha de finalización</label>
        <input
          type="date"
          id="fecha_finalizacion"
          formControlName="fecha_finalizacion"
          class="form-input"
          [disabled]="!isEditable"
        />
      </div>
      <button type="button" class="modal-button" (click)="toggleEditable()" *ngIf="!isEditable">Editar</button>
      <button type="button" class="modal-button" (click)="saveChanges()" *ngIf="isEditable">Guardar</button>
    </form>
  </div>
</div>
