.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #7767df;
}

.close-button {
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  color: #7767df;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.info-text {
  margin: 15px 0;
  font-size: 1em;
  color: #555;
}

.registrar-btn {
  background-color: #7767df;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
}

.registrar-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.registrar-btn:hover {
  background-color: #574bc3;
}
