/* Contenedor principal de la página de inicio de sesión */
.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7767DF;
  padding: 20px;
  overflow: hidden;
}

.login-container::before {
  content: "";
  position: absolute;
  width: 750px;
  height: 750px;
  background-color: #938EEB;
  border-radius: 30%;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.login-container::after {
  content: "";
  position: absolute;
  width: 750px;
  height: 750px;
  background-color: #938EEB;
  border-radius: 30%;
  bottom: 15%;
  right: 10%;
  transform: translate(50%, 50%) rotate(35deg);
}


.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 14px;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.login-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  flex: 1;
  padding-right: 20px;
  text-align: center; /* Centra el texto en .login-form */

}

.lottie-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box h2 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
}

.login-box p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  text-align: left;
  font-size: 0.9em;
  color: #333;
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
}

form input:focus {
  outline: none;
  border-color: #7767DF;
}

.login-button {
  background-color: #7767DF;
  color: #ffffff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #5a50b5;
}

.register-link {
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.register-link a {
  color: #7767DF;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
