<app-landing-header></app-landing-header>
<div class="landing-container">
  <div class="left-section">
    <div class="title">
      <h1>Empieza a tomar el control de tus finanzas</h1>
    </div>
    <div class="description">
      <p>Herramienta diseñada para ayudarte a ahorrar, organizar tus gastos y alcanzar tus metas financieras de manera
        sencilla y personalizada.</p>
    </div>
  </div>
  <div class="right-section">
    <img src="assets/Business_Plan.png" alt="Imagen ilustrativa" height="603" width="578" priority/>
  </div>
</div>
<!-- Nueva Sección -->
<div class="services-section">
  <h2>¿Cómo podemos ayudarte?</h2>
  <div class="service-cards">
    <app-card-ayuda
      [iconType]="'bank'"
      title="Ahorro de tiempo"
      description="Ahorro de tiempo al utilizarse."
    ></app-card-ayuda>

    <app-card-ayuda
      [iconType]="'appstore'"
      title="Facilidad de uso"
      description="Fácil e intuitiva de usar."
    ></app-card-ayuda>

    <app-card-ayuda
      [iconType]="'safety'"
      title="Seguridad"
      description="Segura y accesible para cualquier persona."
    ></app-card-ayuda>
  </div>
</div>

<div class="testimonials-section">
  <h2>Lo que dicen nuestros usuarios</h2>
  <div class="testimonials-cards">
    <div class="testimonial-card">
      <p>"Esta herramienta me ha ayudado a ahorrar más y gestionar mejor mis finanzas. ¡Es increíble!"</p>
      <h4>- Juan Pérez</h4>
    </div>
    <div class="testimonial-card">
      <p>"Fácil de usar y muy efectiva para mantenerme en control de mis gastos. ¡Totalmente recomendada!"</p>
      <h4>- María Gómez</h4>
    </div>
    <div class="testimonial-card">
      <p>"Gracias a esta app, ahora puedo planificar mejor mi futuro financiero y alcanzar mis metas."</p>
      <h4>- Carlos López</h4>
    </div>
  </div>
</div>


<div class="features-section">
  <h2>Características principales</h2>
  <div class="features-grid">
    <div class="feature-item">
      <h3>Organización Fácil</h3>
      <p>Permite organizar tus ingresos y gastos de manera eficiente.</p>
    </div>
    <div class="feature-item">
      <h3>Metas Financieras</h3>
      <p>Establece metas y alcanza tus objetivos financieros.</p>
    </div>
    <div class="feature-item">
      <h3>Seguridad Garantizada</h3>
      <p>Tus datos están protegidos con la mejor seguridad.</p>
    </div>
    <div class="feature-item">
      <h3>Accesibilidad</h3>
      <p>Accede a tus finanzas desde cualquier dispositivo.</p>
    </div>
  </div>
</div>

