<div class="grafica-contenedor">
  <nz-progress
    [nzType]="'circle'"
    [nzPercent]="porcentaje.toFixed(2)"
    [nzWidth]="150"
    [nzStrokeColor]="strokeColor"
    [nzFormat]="formatoPorcentaje"
  ></nz-progress>
  <ng-container *ngIf="icono">
    <i
      nz-icon
      [nzType]="icono"
      [ngClass]="{
        'icono-advertencia': porcentaje < 100,
        'icono-error': porcentaje >= 100
      }"
    ></i>
  </ng-container>
  <p *ngIf="!icono" class="porcentaje-texto">
    {{ porcentaje.toFixed(1) }}%
  </p>
</div>
